<div class="navbar-collapse collapse">
    <div class="nav navbar-nav navbar-right">
        <div class="cart box_1 cartitem">
            <div class="total">
                So Luong: <span class="soluong">@ViewBag.TotalProduct</span><br/>
                Tong tien: <span class="tongtien">@ViewBag.Totalmoney</span>
            </div>
            <img src="~/Content/CssHome/Images/cart-1.png"/>
            <a href="/Cart/Addcart">Giỏ Hàng</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>